/* Table flex */

.Table {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.5;
}

.Table-header {
  display: none;
}

@media (min-width: 500px) {
  .Table-header {
    font-weight: 700;
    background-color: #f2f2f2;
  }
}

.Table-row {
  width: 100%;
}

.Table-row:nth-of-type(even) {
  background-color: #f2f2f2;
}

.Table-row:nth-of-type(odd) {
  background-color: #ffffff;
}

@media (min-width: 500px) {
  .Table-row {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .Table-row:nth-of-type(even) {
    background-color: #ffffff;
  }

  .Table-row:nth-of-type(odd) {
    background-color: #f2f2f2;
  }
}

.Table-row-item {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 5;
  flex-grow: 5;
  -ms-flex-positive: 1;
  -webkit-flex-basis: 0;
  -moz-flex-basis: 0;
  flex-basis: 0;
  -ms-flex-preferred-size: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  padding: 0.5em;
  word-break: break-word;
  align-items: flex-start;
  align-content: flex-start;
}

.Table-row-button {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-flex-basis: 0;
  -moz-flex-basis: 0;
  flex-basis: 0;
  -ms-flex-preferred-size: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  padding: 0.5em;
  word-break: break-word;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

.Table-row-item:before {
  content: attr(data-header);
  width: 30%;
  font-weight: 700;
}

@media (min-width: 500px) {
  .Table-row-item {
    border: 1px solid #ffffff;
    padding: 0.5em;
  }

  .Table-row-item:before {
    content: none;
  }
}