<div id="login-form">
  <h1>Логин</h1>
  <fieldset>
    <form ng-submit="login.singIn()">
      <input name="name" required value="Имя"
             placeholder="Имя"
             ng-model="login.name">
      <input type="password" name="password" required value="Пароль"
             placeholder="Пароль"
             ng-model="login.password">
      <div>
        <div class="login-error" ng-bind="login.loginError"></div>
        <div><input type="submit" value="ВОЙТИ"></div>
      </div>
      <footer class="clearfix">
      </footer>
    </form>
  </fieldset>
</div>
