<div class="Table col-md-4">
  <div class="Table-row Table-header">
    <div class="Table-row-item">Id</div>
    <div class="Table-row-item">Name</div>
  </div>
  <div class="Table-row"
       ng-repeat="product in productCtrl.products track by $index" ng-click="showModal($index)">
    <div class="Table-row-item">{{product.id}}</div>
    <div class="Table-row-item">{{product.name}}</div>
  </div>
</div>