<div class="modal-header">
  <h3 class="modal-title">Product details</h3>
</div>
<div class="modal-body">
  <div class="Table">
    <div class="Table-row Table-header">
      <div class="Table-row-item">Id</div>
      <div class="Table-row-item">Product id</div>
      <div class="Table-row-item">Frame buffer</div>
      <div class="Table-row-item">Memory speed</div>
      <div class="Table-row-item">Cuda cores</div>
    </div>
    <div class="Table-row">
      <div class="Table-row-item" ng-repeat="(key, value) in productDetailCtrl.details track by $index">{{value}}</div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Ok</button>
</div>