<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Test</title>

  <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">

  <link rel="stylesheet" href="styles/table.css">
  <link rel="stylesheet" href="layout/styles/layout.css">

  <link rel="stylesheet" href="login/styles/login.css">
</head>
<body ng-app="app">

<nav class="navbar navbar-inverse" ng-controller="LayoutController as layout">
  <div class="container-fluid">
    <div ng-if="layout.userName" class="navbar-header">
      <a class="navbar-brand" ui-sref="app.product">Products</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">

      <ul ng-if="!layout.userName" class="nav navbar-nav navbar-right">
        <li><a ui-sref="app.login">Login</a></li>
      </ul>

      <div class="users-block pull-right clearfix" ng-if="layout.userName">
        <span class="user-name" ng-bind="layout.userName">,</span>
        <a href="" ng-click="layout.logOut()" class="logout">logout</a>
      </div>
    </div>
  </div>
</nav>


<div ui-view="root"></div>


<!-- jquery libs -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- angular libs -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<!-- app -->
<script src="app.js"></script>

<!-- modules -->
<script src="login/module.js"></script>
<script src="product/module.js"></script>
<script src="layout/module.js"></script>

<!-- controllers -->
<script src="login/controllers/LoginCtrl.js"></script>
<script src="product/controllers/ProductCtrl.js"></script>
<script src="product/controllers/ProductDetailCtrl.js"></script>
<script src="layout/controllers/LayoutCtrl.js"></script>

<!-- factories -->
<script src="login/factories/user.js"></script>
<script src="product/factories/product.js"></script>

</body>
</html>