.users-block {
  height: 40px;
}

.users-block .user-photo {
  width: 28px;
  height: 28px;
  float: left;
  margin-right: 8px;
  margin-top: 7px;
}

.users-block .user-photo img {
  border-radius: 50%;
  display: block;
}

.users-block .user-name {
  color: #fff;
  float: left;
  font-size: 16px;
  font-weight: normal;
  padding-top: 10px;
  margin-right: 4px;
}

.users-block .logout {
  display: block;
  float: left;
  font-size: 10px;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 16px;
}

.users-block .logout:hover {
  text-decoration: none;
}